body {
    font-family: "Consolas", monospace, sans-serif;
    background-color: blanchedalmond;
}

header {
    display: flex;
    padding: 20px;
    border: 3px solid grey;
    background-color: #2d2d2d;
    justify-content: center;
}

h1 {
    display: flex;
    font-size: 30px;
    color: #9cdcfe;
    align-items: center;
    letter-spacing: 2px;
}

header strong {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #569cd6;
}

ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
}

ol {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    list-style-type: decimal;
}

li {
    display: flex;
    margin: 5px;
}

button {
    display: flex;
    padding: 10px;
    color: white;
    background-color: #2d2d2d;
    border: 2px solid white;
    top: 50%;
    height: 43px;
    width: 330px;
    margin: 5px;

}

button:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}

h1::after {
    content: "";
    width: 5px;
    height: 30px;
    background: white;
    display: inline-block;
    animation: blink-cursor 1.5s steps(2) infinite;

}

.quizcontainer {
    color: white;
    background-color: #2d2d2d;
    padding: 20px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.maincontent {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

#initialsinput {
    display: flex;
    position: relative;
    top: 30%;
    right: 50%;
    height: 30px;
}

.quizcontainer input {
    bottom: 20px;
    left: 239px;
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    background-color: #2d2d2d;
    border: 1px solid white;
}

#initialsh2 {
    bottom: 15px;
    left: 232px;
    display: flex;
    position: relative;
}

#play {
    left: 270px;
    display: flex;
    position: absolute;
    color: white;
    background-color: #2d2d2d;
    box-shadow: 5px 5px 5px white;
    border-radius: 20%;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    font-size: 30px;
    padding: 5px;
    width: auto;
}


#play:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}

#questiontext {
    position: absolute;
    height: 20px;
    top: 25%;
}

#timerh2 {
    bottom: 300px;
    position: relative;
    font-size: 35px
}

#outcome {
    position: absolute;
    top: 20%;
}

#playagain {
    position: relative;
    top: 100px;

}

#clear {
    position: relative;
    top: 100px;
}

#viewBtn {
    position: relative;
    top: -20%;
}

footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

@keyframes blink-cursor {
   0% {
    opacity: 0;
   }
}

@media screen and (max-width: 422px) {
    h1::after {
        visibility: hidden;
    }
}

    
